.Landing {
  position: absolute;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.Landing-title {
  margin: 0 auto;
  margin-bottom: 100px;
  height: 5rem;
  font-size: 6rem;
  font-family: "Righteous", cursive;
  color: white;
}

.Landing-button .button {
  margin: 0 60px;
}
